body{
    margin: 0px;
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
}
/* =========nav section========== */
nav{
    display: block;
    height: 30px;
    list-style-type: none;
    text-align: right;
    margin-right: 50px;
    padding: 10px 0px;  
}
.btn-link{
    margin:0px 10px;
    text-decoration:none;
    color: black;
    text-transform: capitalize;
}
/* ==========main-section========= */
.main{
    height: 500px;
}
.btn-style{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width{
    max-width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
span{
    color: tomato;
}
.half-width h1{
    margin: 0px;
}
.half-width p{
    font-size: 16px;
    font-family:Roboto;
}
.half-width img{
    width: 100%;
    height:460px;
}
/* ==============working-area============ */
.working-area{
    height: 500PX;
    background-color:rgb(204, 222, 230);
}
.working-area h1{
    margin: 0px;
    text-align: center;
    padding-top: 40px;
}
.list-work{
    font-family:Roboto;
    margin: 0px 30px;
    background-color: greenyellow;
}
.single-work{
    position: relative;
    float: left;
    width: 30%;
    margin: 20px 0px 0px 20px;
    background-color: white;
    padding: 7px;
    border-radius:5%;
    box-shadow: 10px 10px 40px white;
}
.single-work img{
     width: 100%;
    
}
/*==== experts area====== */
.experts-area{
    height: 250px;
    background-color: black;
    color:white;
}
.experts-area h1{
    margin:0px;
    padding: 20px;
    text-align: center;
}
.experts{
    height:200px;
    margin:0px 100px;  
}
.experts-work{
    position: relative;
    float: left;
    height: 160px;
    width: 25%;
    padding: 0px 20px;
    margin-left:30px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 10px 10px 40px white;
}
/* =========footer-area============= */
footer{
    height: 250px;
    padding-top: 50px;
}
.half-height{
    height: 50%;   
}
.first-half{
    margin: 0px 200px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(./shape/Group_33094_1.png);
    border-radius: 30px;
}
.first-half h1{
    color: white;
    margin: 0px;
    padding: 50px;
    width:50%;
}
.first-half a{
    float: right;
    margin: 50px 30px 30px 30px;
}
.second-half{
    text-align: center;
}
.icon{
    height: 30px;
    width: 30px;
}